{% extends 'base.html' %}

{% block crops %}

<section id="crops-section">
    <div class="crops-container">
        <h2>CROPS PREDICTOR</h2>

        <div class="form-container">
            <form action="/cropsResult" method="post">
                <div class="form-card">
                    <label for="nitrogen">Nitrogen</label>
                    <input type="text" required name="nitrogen" id="nitrogen" placeholder="Enter the value (example: 50)">
                </div>
                <div class="form-card">
                    <label for="phosphorous">Phosphorous</label>
                    <input type="text" required name="phosphorous" id="phosphorous" placeholder="Enter the value (example: 50)">
                </div>
                <div class="form-card">
                    <label for="pottasium">Pottasium</label>
                    <input type="text" required name="pottasium" id="pottasium" placeholder="Enter the value (example: 50)">
                </div>
                <div class="form-card">
                    <label for="ph">ph level</label>
                    <input type="text" required name="ph" id="ph" placeholder="Enter the value (example: 50)">
                </div>
                <div class="form-card">
                    <label for="rainfall">Rainfall (in mm)</label>
                    <input type="text" required name="rainfall" id="rainfall" placeholder="Enter the value (example: 50)">
                </div>
                <div class="form-card">
                    <label for="state">State</label>
                    <select required name="state" id="state" onchange="show_cities('city', this.selectedIndex);">
                    </select>
                </div>
                <div class="form-card">
                    <label for="city">City</label>
                    <select required name="city" id="city">
                        <option value="select">Select City</option>
                    </select>
                </div>

                <button class="btn btn-outline-danger" type="submit">Predict</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        show_states();
    </script>
</section>

{% endblock crops %}