{% extends 'base.html' %}

{% block fertilizers %}

<section id="fertilizers-section">
    <div class="fertilizers-container">
        <h2>FERTILIZERS REQUIRED</h2>

        <div class="form-container">
            <form method="POST" action="/fertilizersRequired">
                <div class="form-card">
                    <label for="nitrogen">Nitrogen</label>
                    <input type="number" id="nitrogen" name="nitrogen" placeholder="Enter the value (example:50)"
                        required>
                </div>

                <div class="form-card">
                    <label for="phosphorous">Phosphorous</label>
                    <input type="number" id="phosphorous" name="phosphorous" placeholder="Enter the value (example:50)"
                        required>
                </div>

                <div class="form-card">
                    <label for="pottasium">Pottasium</label>
                    <input type="number" id="pottasium" name="pottasium" placeholder="Enter the value (example:50)"
                        required>
                </div>

                <div class="form-card">
                    <label for="cropName">Crop you want to grow</label>
                    <select required name="cropName" id="cropName" placeholder="Select a crop">
                        <option selected>Select crop</option>
                        <option>rice</option>
                        <option>maize</option>
                        <option>chickpea</option>
                        <option>kidneybeans</option>
                        <option>pigeonpeas</option>
                        <option>mothbeans</option>
                        <option>mungbean</option>
                        <option>blackgram</option>
                        <option>lentil</option>
                        <option>pomegranate</option>
                        <option>banana</option>
                        <option>mango</option>
                        <option>grapes</option>
                        <option>watermelon</option>
                        <option>muskmelon</option>
                        <option>apple</option>
                        <option>orange</option>
                        <option>papaya</option>
                        <option>coconut</option>
                        <option>cotton</option>
                        <option>jute</option>
                        <option>coffee</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-outline-danger">Result</button>
            </form>
        </div>
    </div>
</section>

{% endblock fertilizers %}