{% extends 'base.html' %}
{% block login %}

<section id="login">
    <div class="login-container">
        <div class="login-left">
            <img height="100%" src="https://i.pinimg.com/736x/08/3e/a4/083ea47b0f88dc9b599b9af1b6ff5fa2.jpg" alt="login-img">
        </div>

        <div class="login-right">
            <h2>Login to your account</h2>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            <form action="" method="POST" style="height: 40%;">
                {{ form.hidden_tag() }}
                {{form.email(class="form-control")}}
                {{form.password(class="form-control")}}
                {{form.submit(class="btn btn-outline-primary")}}
                <!-- <input class="form-control" type="email" name="email" id="email" placeholder="Email address">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                <button type="submit" class="btn btn-outline-primary">Sign in</button> -->
            </form>
        </div>
    </div>
</section>

{% endblock login %}