{% extends 'base.html' %}

{% block login %}

<section id="login">
    <div class="login-container">
        <div class="login-left">
            <img height="100%" src="https://i.pinimg.com/736x/08/3e/a4/083ea47b0f88dc9b599b9af1b6ff5fa2.jpg" alt="login-img">
        </div>

        <div class="login-right">
            <h2>Create your account</h2>
            <p>Already have an account? <a href="/login">Log In</a></p>
            <form action="" method="POST" style="height: 60%;">
                {{ form.hidden_tag() }}
                <input class="form-control" onchange="firstName()" type="text" name="fname" id="fname" required placeholder="first name">
                <input class="form-control" onchange="lastName()" type="text" name="lname" id="lname" required placeholder="last name">
                {{form.email(class="form-control")}}
                {{form.password(class="form-control")}}
                {{form.submit(class="btn btn-outline-primary")}}
            </form>
        </div>
    </div>

</section>

<script type="text/javascript">
    function firstName() {
        var name = document.getElementById('fullname');
        var fname = document.getElementById('fname');
        var lname = document.getElementById('lname');
        name.value = fname.value + " " + lname.value;
    }

    function lastName() {
        var name = document.getElementById('fullname');
        var fname = document.getElementById('fname');
        var lname = document.getElementById('lname');
        name.value = fname.value + " " + lname.value;
    }
</script>

{% endblock login %}